BODY
{
	background: url("im.jpeg");
}
INPUT
{
	border:2px rgb(0, 140, 255) solid;
	border-radius:10px;
	width:300px;
	height:30px;
	font-size:large;
}
.auth
{
	font-size:xx-large;
	font-weight:bold;
	color:rgb(0, 140, 255);
	text-align:center;
}
INPUT[TYPE="SUBMIT"]
{
	border:2px rgb(0, 140, 255) solid;
	border-radius:10px;
	width:300px;
	height:30px;
	font-size:large;
	background-color:rgb(0, 140, 255);
}
.connecter
{
	position:absolute;
	border:5px black outset;
	box-shadow:5px 5px 5px black, -5px -5px 5px black;
	display:inline-block;
	padding:50px;
	background:white;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);

}	
.nouveau_compte
{
	border:1px green solid;
	background-color:green;
	border-radius:10px;
	text-align:center;
}
a
{
	text-decoration:none;
	color:black;
	font-size:large;
}